.periodeContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--ax-space-16);
}

.periode {
  width: 100%;
  border: 1px solid var(--ax-border-neutral);
  padding: var(--ax-space-16);
  border-radius: 4px;
}

.manederContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--ax-space-16);
  margin-top: var(--ax-space-16);
}

.maaned input {
  padding: 0 var(--ax-space-8) !important;
  min-height: 2rem !important;
}

.maaned div {
  display: none;
}

@media only screen and (min-width: 970px) {
  .periodeContainer {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
