html {
  background-color: var(--ax-bg-neutral-soft);
}

main {
  max-width: var(--ax-breakpoint-2xl-down);
  margin: 0 auto;
  padding: var(--ax-space-24);
}

/* Reset p tag padding globally*/
p {
  margin: 0;
}

.mt-2 {
  margin-top: var(--ax-space-8);
}

/* button.mt-4 for å øke specificity for søk inntektId knappen */
.mt-4,
button.mt-4 {
  margin-top: var(--ax-space-16);
}

.mt-6 {
  margin-top: var(--ax-space-24);
}

.mt-8 {
  margin-top: var(--ax-space-32);
}

.mb-6 {
  margin-bottom: var(--ax-space-24);
}

.bold {
  font-weight: bold;
}

.light {
  font-weight: 300;
}

.medium {
  font-size: var(--ax-font-size-medium);
}
