html {
  background-color: var(--a-bg-subtle);
}

main {
  max-width: var(--a-breakpoint-2xl-down);
  margin: 0 auto;
  padding: var(--a-spacing-6);
}

/* Reset p tag padding globally*/
p {
  margin: 0;
}

.mt-2 {
  margin-top: var(--a-spacing-2);
}

/* button.mt-4 for å øke specificity for søk inntektId knappen */
.mt-4,
button.mt-4 {
  margin-top: var(--a-spacing-4);
}

.mt-6 {
  margin-top: var(--a-spacing-6);
}

.mt-8 {
  margin-top: var(--a-spacing-8);
}

.mb-6 {
  margin-bottom: var(--a-spacing-6);
}

.bold {
  font-weight: bold;
}

.light {
  font-weight: 300;
}

.medium {
  font-size: var(--a-font-size-medium);
}
